.Quote {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.Quote-text {
    /* margin-left: auto;
    margin-right: 0; */
    width: fit-content;
}

.Quote-button {
    /* margin-left: auto;
    margin-right: 0; */
    width: fit-content;
}